* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
text-decoration: none;
}

ul{
list-style-type: none;
}

body{
background-image: url(../img/baner-ico.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.title_h1_style{
color: #FFF;
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 100% */
}

.title_h2_style{
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 100% */
}

.title_h3_style{
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */
padding: 20px 0 40px 0;
}


.header {
margin-top: 50px;
}
.conteiner{
max-width: 1060px;
margin: 0 auto;
padding: 0 10px;
}

.wrapper{
display: flex;
justify-content: space-between;
}

.wrapper_logo{
display: flex;
gap: 15px;
}

.wrapper_logo:hover .header_logo{
content: url(../img/svg/logo-ico2.svg);
} 


.wrapper_logo:hover .title_h1_style{
color: #F26522;
}


.wrapper_logo:hover .title_h2_style{
color: #F26522;
}


.item:hover{
color:#F26522;
}

.nav_wrap{
display: flex;
flex-direction: column;
align-items: end;
gap: 15px;
}

.item{
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */
}

.main {
margin-top: 18px;
}

.main_wrapper{
align-items: center;
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.nav_footer{
display: flex;
justify-content: center;
}

.footer{
margin-top: 115px;
}

.items{
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 100% */
}

.main_wrapper a {
	position: relative;
}

.main_wrapper a:hover .info_local {
	position: absolute;
	display: flex;
	width: 300px;
	height: 55px;
	background-color: #F26522;
	bottom: 80px;
	left: 2px;
	z-index: 1;
}

.text-info {
	color: #FFF;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 7px;
	display: flex;
	flex-direction: column;
}

.info_local{
	display: none;
}

.first-info {
	font-size: 10px;
}

.price {
	font-size: 20px;
	margin-top: 8px;
}

.details {
margin-top: 32px;
margin-left: 128px;
font-size: 16px;
color: #FFF;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */

}

.details::after {
	content: url(../img/svg/Vector-1.svg);
	margin-left: 16px;
}

.main_wrapper a:hover .title_h3_style {
	color: #F26522;
}
